.detail {
    padding: 0 24px;
}

.question-info {
    margin-bottom: 16px;
}

.question-info > h3 {
    margin-top: 8px;
}

.question-type {
    margin: 0 8px 0 0;
    font-size: 14px;
}

.question-img {
    max-width: 100%;
}

.question-status {
    margin-bottom: 48px;
}

.question-easy_wrong {
    text-align: center
}

.question-status-change {
    box-sizing: border-box;
    padding: 0 24px;
}

.detail-block {
    margin-bottom: 16px;
}

.data-chart {
    display: flex;
    justify-content: space-around;
    margin-bottom: 16px;
}
