.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
    height: 80px;
}

.logo {
    display: flex;
    align-items: center;
    padding: 0 8px;
    height: 80px;
    font-size: 16px;
    font-weight: 700;
    background-color: #1C64F2;
    color: #FFF;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

.menu {
    display: flex;
    margin: 0;
}

.menu > li {
    display: flex;
    margin: 0 8px;
}

.menu > li > a {
    padding: 0 8px;
    font-size: 16px;
    font-weight: 600;
    color: #6B7280;
}

.banner {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
    height: 400px;
}

.banner-text {
    display: flex;
    flex-flow: column;
    justify-content: center;
    width: 100%;
}

.banner-text > h1 {
    margin: 8px 0;
    font-size: 36px;
    font-weight: 1000;
    color: #161E2E;
}

.banner-text > span {
    margin-bottom: 64px;
    font-size: 16px;
    color: #6B7280;
}

.banner-btn {
    display: flex;
}

.banner-btn > a {
    margin: 0 8px;
    padding: 8px 40px;
    border-radius: 8px;
    font-size: 18px;
    font-weight: 1000;
}

.banner-btn1 {
    color: #FFF;
    background-color: #1C64F2;
}

.banner-btn2 {
    color: #1A56DB;
    background-color: #E1EFFE;
}

.banner-img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 75%;
    overflow: hidden;
}

.banner-img > img {
    height: 100%;
}

.login {
    display: flex;
    box-sizing: border-box;
    justify-content: space-between;
    align-items: center;
    padding: 24px;
    background-color: #f0f8ff;
    border-radius: 8px;
}

.login-form {
    text-align: center;
    width: 100%;
    max-width: 800px;
}

.login-banner {
    width: 100%;
    text-align: center;
    font-size: 24px;
    font-weight: 1000;
    color: #1A56DB;
}

.features {

}

@media screen and (max-width: 768px) {

    .banner {
        height: 320px;
    }

    .banner-text > h1 {
        font-size: 28px;
    }

    .banner-btn > a {
        margin: 0 4px;
        padding: 4px 24px;
    }
}